*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 1080px;
    border-radius: 7px;
    /* box-shadow: 1px 1px 2px rgb(150, 149, 149) , -1px -1px 2px rgb(165, 164, 164) ; */
}
#cli{
    color: white;
    padding-inline: 40px;
    border: none;
    padding-block: 5px;
    border-radius: 4px;
    &:hover{
        /* border: 1px solid white; */
    }
}
#cli:active{
    transform: translateY(-10px);
    transition: 0.2s ease-in-out;
}
select{
  margin-block: 20px;
   border: none;
   box-shadow: 0px 0px 3px black;
   padding-inline: 10px;
   font-size: 15px;
   outline: none;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
}
#tableheading{
  color: white;
  align-items: center;
  text-align: center;
  /* margin-bottom: 50px; */
}
.table-bordered>:not(caption)>*>* {
    border-width: 0.1px;
}
#ItemAdd{
    width: 35px;
    /* height: 30px; */
    text-align: center;
    align-content: center;
    border-radius: 0px;
    font-weight: 800;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    display: none;
    font-size: 35px;
    position: relative;
    bottom: 10px;
    &:active{
        background-color: green;
        color: white;
    }
}
tr input{
    background-color: transparent;
    outline: none;
    font-size: 15px;
    width: 100%;
    border: 0.2px solid grey;
   &:focus{
    border: 0.2px solid darkred;
   } 
}
/* tr .amount{
    border: none;
   border-bottom: 1px dotted brown !important;
} */
tr{
    background-color: #F8F8F8;
    border-bottom: 1px solid grey;
}
td{
    padding-block: 25px !important;
    padding-left: 7px;
}
.itemrem{
    /* width: 35px; */
    /* height: 30px; */
    text-align: end;
    align-content: center;
    border-radius: 0px;
    font-weight: 800;
    background-color: transparent;
    border: none;
    color: black;
   display: none;
}
/* Heading styles */
.hbrown{
    color: #AB3907;
}
.hblue{
    color: darkblue;
}
.horange{
    color: orange;
}
.hcyan{
    color: darkcyan;
}
.hblack{
    color: black;
}
.hred{
    color: rgb(192, 22, 56);
}
.hcoral{
   color: rgb(249, 91, 33);
}
.hlightgr{
   color: lightslategray;
}
.hgrey{
   color: gray;
}
.hgreen{
   color: rgb(16, 83, 16);
}
/* Table heading styles */
.thbrown{
    background-color: brown;
}
.thblue{
    background-color: darkblue;
}
.thorange{
    background-color: orange;
}
.thcyan{
    background-color: darkcyan;
}
.thblack{
    background-color: black;
}
.thred{
    background-color: rgb(192, 22, 56);
}
.thcoral{
    background-color: rgb(249, 91, 33);
}
.thlightgr{
    background-color: lightslategray;
}
.thgrey{
    background-color: gray;
}
.thgreen{
    background-color: rgb(16, 83, 16);
}
/* For button styles click */
.cbrown{
    background-color: brown;
}
.cblue{
    background-color: darkblue;
}
.corange{
    background-color: orange;
}
.ccyan{
    background-color: darkcyan;
}
.cblack{
    background-color: black;
}
.cred{
    background-color: rgb(185, 36, 66);
}
.ccoral{
    background-color: rgb(241, 77, 17);
}
.clightgr{
    background-color: rgb(117, 143, 169);
}
.cgrey{
    background-color: grey;
}
.cgreen{
    background-color: rgb(4, 68, 4);
}
/* For Container border styles click */

.Cbrown{
    border: 1.3px dotted brown;
}
.Cblue{
    border: 1.3px dotted darkblue;
}
.Corange{
    border: 1.3px dotted orange;
}
.Ccyan{
    border: 1.3px dotted darkcyan;
}
.Cblack{
    border: 1.3px dotted black;
}
.Cred{
    border: 1.3px dotted darkred;
}
.Ccoral{
    border: 1.3px dotted rgb(247, 86, 28);
}
.Clightgr{
    border: 1.3px dotted lightslategray;
}
.Cgrey{
    border: 1.3px dotted grey;
}
.Cgreen{
    border: 1.3px dotted rgb(2, 58, 2);
}